
body {
  margin: 0;
}

.container-fluid{
  width:auto;
}
.row {
  width: auto;
  padding: 10px;
}

.col-xm-2,.col-xm-3,.col-xm-6,.col-xm-8,.col-xm-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-6 {
  position: relative;
  min-height: 1px;
  float: left;
}
@media (max-width: 767px) {
.col-xm-2 {
  width: 16.66666%;
}
.col-xm-3 {
  width: 25%;
}
.col-xm-6 {
  width: 50%;
}
.col-xm-8 {
  width: 66.6%;
}
.col-xm-12 {
  width: 100%;
}
.-4 {
  margin-left: 33.33333%;
}
.push-xm-4 {
  left: 33.33333%;
}
}

@media (min-width: 768px) {
.col-md-1 {
  width: 8.33333%;
}
.col-md-2 {
  width: 16.66666%;
}
.col-md-3 {
  width: 25%;
}
.col-md-4 {
  width: 33.33333%;
}.col-md-6 {
  width: 50%;
}
}





.contents {
  text-align: center;
  width: auto;
  height: 50px;
  border: 1px solid #999;
  margin: 10px;
  background-color: #eee;
}


















