body {
	padding: 0;
	margin: 0;
	background-color: #dedede;
}
.nav,.footer{
	background-color: #333333;
}
.part {
	margin: 20px;
	padding: 20px;
	background-color: white;
	box-shadow: 2px 2px 2px #888888;
}

.nav {
	height: 60px;
}
.nav img {
	height: 60px;
}
.nav ul {
	float: right;
}
.nav li {
	float: left;
	margin-right: 20px;
}
.nav li:last-child a{
	color: gray;
}
.nav a {
	text-decoration: none;
	color: white;
	font-size: 10px;
}

.part h2 {
	font-size: 20px;
}
.part h2+h2{
	font-size: 15px;
	color: gray;
}
.part h2+p {
	font-size: 10px;
	color: gray;
}

.p figure{
	border: 1px solid gray;
	padding: 10px;
	width: 150px;
}
.p figcaption {
	text-align: center;
	padding-bottom: 10px;
}
.p figure img{
	width: 150px;
	height: 150px;
}

.a3 table {
	width: 100%;
	border: solid gray;
	border-width: 1px 0 0 1px;
	border-collapse: collapse;
}
.a3 table caption {
	text-align: left;
}
.a3 table td {
	border: solid gray;
	border-width: 0 1px 1px 0;
	font-size: 10px;
	padding: 5px;
}
.a3 table thead tr {
	background-color: black;
	color: white;
}
.a3 table tfoot tr{
	background-color: gray;
}


.a4 h2 {
	display: block;
	border-left: 3px solid gray;
	font-size: 18px;
	text-indent: 1em;
	height: 30px;
	line-height: 30px;
}
.a4 label {
	display: inline-block;
	width: 400px;
	text-align: right;
	font-size: 15px;
	
}
#ann1,#ann2 {
	margin-left: 410px;
	font-size: 10px;
	color: gray;
}
#txa {
	width: 700px;
	height: 100px;
	vertical-align: top;
}
#sub {
	width: 100%;
	height: 40px;
	background-color: blue;
	border-radius: 10px;
	color: white;
}

.footer {
	height: 60px;
	text-align: center;
	color: white;
	line-height: 60px;
}
















